<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtlmJMTME1uyrq4wQQ1xNHh31NTRtiw-E</string>
	<key>GCM_SENDER_ID</key>
	<string>731009808180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoBarn</string>
	<key>PROJECT_ID</key>
	<string>autobarn-57cbc</string>
	<key>STORAGE_BUCKET</key>
	<string>autobarn-57cbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731009808180:ios:31708e1bd6b309cb3ed761</string>
</dict>
</plist>